# macOS
.DS_Store

# Xcode 
*.xcodeproj/
*.xcworkspace/
DerivedData/
*.xcuserstate
*.xcuserdata
*.xcscheme
*.xcbkptlist
Bookmarks/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcscmblueprint

# Compiled files
*.o
*.obj
*.exe
*.out
*.app
*.a
*.lib
*.dll
*.so
*.dylib
*.d
*.pch
*.gch

# Build directories
build/
bin/
Debug/
Release/
x64/
x86/

# Игнор
asd2/
asd2Two/
asd3/
asd3_backup/
asd4/
asd5/
asd6/
asd7/
kkk/
kkk1/
labbbb/
oop2/
oop3/
oop4/
oop5/
temp_asd3/
test/
test_oop/
tsu_asd3/

# Не игнор
!asd2_1/
