asd2/
asd2_1/
asd2_2/
asd2Two/
asd3/
asd3_backup/
asd4/
asd5/
asd6/
asd7/
kkk/
kkk1/
labbbb/
labor/
labor.xcodeproj/
oop1/
oop2/
oop3/
oop4/
oop5/
temp_asd3/
test/
test_oop/
tsu_asd3/

.DS_Store
*.xcodeproj/
*.xcworkspace/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscheme
*.xcbkptlist
Bookmarks/

# Compiled files
*.o
*.obj
*.exe
*.out
*.app
*.dSYM/

lab3/
lab2_6/
testQt/
ttt/
asd2_2/
!asd2_5/
